.hero {
    text-align: center;
    padding: 50px 30px;
    background: linear-gradient(to right, var(--primary-color), #008d5e);
    color: var(--secondary-color);
    margin-top: 1rem;
}

.hero h1 {
    font-size: 32px;
}

.hero p {
    margin-top: 15px;
    font-size: 18px;
}
