@media (max-width: 960px) {
    .content-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .download-area {
        flex: none;
        width: 100%;
        text-align: center;
    }

    .hero {
        padding: 30px 15px;
    }
}

@media (max-width: 540px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 22px;
    }

    .hero p {
        font-size: 16px;
    }
    .content-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .download-area {
        flex: none;
        width: 100%;
        text-align: center;
    }
    .code-example {
        font-size: 11px;
        padding: 10px;
    }

    footer content {
        flex-direction: column;
    }

    footer ul {
        flex-direction: column;
    }
}
@media (max-width: 380px) {
    .code-example {
        display: none;
    }
}