/* src/App.css */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Centraliza os componentes internos */
.wrapper > *:not(Footer) {
  width: 100%;
  margin: 0 auto;
}

/* Faz o conteúdo crescer e empurra o footer para baixo */
.wrapper > main {
  flex: 1;
}
