/* src/index.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

/* Faz o App crescer para ocupar o espaço disponível */
#root {
  flex: 1;
}
